body {
  background: #fff;
}

.nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}
.nav ul {
  width: 219px;
  height:30px;
  margin: 0 auto;
}
.nav ul li {
  width: 73px;
  height: 30px;
  float: left;
}
.nav ul li a {
  display: block;
  width: 73px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
  color: #9e9a95;
}
.nav ul li.active a {
  height:27px;
  border-bottom: 3px solid #5477b2;
  color: #5477b2;
}

.content {
  max-width: 6.4rem;
  margin: 0 auto;
  margin-bottom: 0.8rem;
}
.content .banner {
  margin-top: 0.6rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.banner ul li {
  width: 6.4rem;
  float: left;
  position: relative;
}
.banner ul li img {
  width: 100%;
  display: block;
}
.banner ul li .text-box {
  width: 100%;
  padding: 0 0.3rem;
  height: 1.24rem;
  position: absolute;
  left: 0;
  bottom: 0;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}
.text-box h2 {
  font-size: 0.3rem;
  font-weight: normal;
  margin-top: 0.22rem;
  line-height: 100%;
  margin-bottom: 0.22rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.text-box p {
  line-height: 100%;
}

.banner ol {
  position: absolute;
  right: 0.2rem;
  bottom: 0.2rem;
}
.banner ol li {
  width: 0.15rem;
  height: 0.15rem;
  background: #5477b2;
  float: left;
  border-radius: 50%;
  margin-right: 0.08rem;
}
.banner ol li.active {
  background: #fff;
}

.content .newsList {
  width: 6.4rem;
  margin: 0 auto;
}
.newsList ul {
  padding: 0 20px;
}
.newsList ul li {
  color: #494d4d;
  padding: 10px 0;
  border-bottom: 1px dashed #ccc;
}
.newsList ul li h2 {
  max-height: 0.9rem;
  font-size: 0.33rem;
  overflow: hidden;
}
.newsList ul li p {
  max-height: 130px;
  margin-top: 2.5px;
  overflow: hidden;
}

.foot-btn {
  width: 100%;
  height: 40px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  border-top: 1px solid #9e9a95;
}
.foot-btn ul {
  width: 4.08rem;
  margin: 0 auto;
}
.foot-btn ul li {
  float: left;
}
.foot-btn ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.foot-btn ul .home {
  width: 0.44rem;
  height: 0.59rem;
  background-size: 100%;
  margin-top: 0.1rem;
}
.foot-btn ul .write {
  width: 0.82rem;
  height: 0.81rem;
  background: url(../img/write.png) no-repeat 0 0;
  background-size: 100%;
  margin-left: 1.18rem;
}
.foot-btn ul .my {
  width: 0.39rem;
  height: 0.63rem;
  background-size: 100%;
  margin-left: 1.18rem;
  margin-top: 0.07rem;
}
